extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)

  h1(class="mb-4") Add new product

  form(
    action=`/${adminPrefix}/products/create`
    method="POST"
    enctype="multipart/form-data"
    accept="image/*"
  )
    div(class="form-group")
      label(for="title") Title
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      )
    div(class="form-group")
      label(for="desc") Description
      textarea(
        class="form-control"
        id="desc"
        name="description"
        rows="5"
      )
    div(class="form-group")
      label(for="price") Price
      input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="0"
        min="0"
      )
    div(class="form-group")
      label(for="discount") % Discount
      input(
        type="number"
        class="form-control"
        id="discount"
        name="discountPercentage"
        value="0"
        min="0"
      )
    div(class="form-group")
      label(for="stock") Quantity
      input(
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        value="0"
        min="0"
      )
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Image
      input(
        type="file"
        class="form-control-file"
        id="thumbnail"
        name="thumbnail"
        upload-image-input
      )
      img(
        src=""
        class='image-preview'
        upload-image-preview
      )
    div(class="form-group")
      label(for="position") Position
      input(
        type="number"
        class="form-control"
        id="position"
        name="position"
        placeholder="Auto increase"
        min="1"
      )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Active
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label(for="statusInActive" class="form-check-label") Inactive
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Create new

  //- script(src="/admin/js/product.js")