extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head('Room List')

    .row 
      .col-12 
        a(
          href='/rooms-chat/create'
          class='btn btn-sm btn-success mr-1'
        ) Create chat room
      
    .row
      .col-6 
        div(class='box-room')
          div(class='inner-avatar')
            img(
              src='https://robohash.org/hicveldicta.png'
              alt='Room abc'
            )
          div(class='inner-info')
            div(class='inner-name') Room abc
            div(class='inner-buttons')
              a(
                href="#"
                class='btn btn-sm btn-primary mr-1'
              ) Send message
          

        