include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/images/logo.svg", alt="Logo")

      .col-5
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Enter keyword..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Search

      .col-4
        .inner-menu
          ul
            li
              a(href="/") Main Page
            li(class="sub-menu")
              - const pathProduct = "/products";
              a(href=pathProduct) Products
              if(layoutCategoryProducts)
                +sub-menu(layoutCategoryProducts, pathProduct)
            li 
              a(href='/cart') Cart (#{miniCart.totalQuantity ? miniCart.totalQuantity : "0"})
            li
              a(href="/user/register") Register