include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt="Logo")

      .col-5
        form(
          action="/search"
          method="GET"
        ) 
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Enter keyword..."
              class="form-control"
              name="keyword"
              value=keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Search

      .col-4
        .inner-menu
          ul
            li
              a(href="/") Main Page
            li(class="sub-menu")
              - const pathProduct = "/products";
              a(href=pathProduct) Products
              if(layoutCategoryProducts)
                +sub-menu(layoutCategoryProducts, pathProduct)
            li 
              a(href='/cart') Cart (#{miniCart && miniCart.totalQuantity ? miniCart.totalQuantity : "0"})
            
            if (user)
              li 
                a(href='/user/info') #{user.fullName}
              li 
                a(href="/chat") Chat
              li 
                a(href="/user/logout") Logout
            else
              li
                a(href="/user/login") Login
              li
                a(href="/user/register") Register