extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("roles_edit"))
    h1(class="mb-4") Edit Group Roles

    +alert-success(5000)
    +alert-error(5000)

    form(
      action=`/${adminPrefix}/roles/edit/${data.id}?_method=PATCH`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Title
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          value=data.title
        )
      div(class="form-group")
        label(for="desc") Description
        input(
          type="text"
          class="form-control"
          id="desc"
          name="description"
          value=data.description
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Update
  else 
    div(class='mt-20')
      h4 Account does not have permission to edit roles information
      i Contact 
      strong admin
      i  to add permissions to your account