extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1(class="mb-4") Edit Group Roles

  +alert-success(5000)
  +alert-error(5000)

  form(
    action=`/${adminPrefix}/roles/edit/${data.id}?_method=PATCH`
    method="POST"
  )
    div(class="form-group")
      label(for="title") Title
      input(
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
        value=data.title
      )
    div(class="form-group")
      label(for="desc") Description
      input(
        type="text"
        class="form-control"
        id="desc"
        name="description"
        value=data.description
      )
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Update