extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("accounts_view"))
    h1(class="mb-4") Account List

    +alert-success(4000)
    +alert-error(4000)

    .card.mb-3
      .card-header List
      .card-body
        .row
          .col-8
          .col-4.text-right
            if(role.permissions.includes("accounts_create"))
              a(
                href=`/${adminPrefix}/accounts/create`
                class="btn btn-outline-success mb-20"
              ) + Add new


        table(
          class="table table-hover table-sm"
        )
          thead
            tr(class='mid-pos')
              th No
              th Avatar
              th Full name
              th Permissions
              th Email
              th Status
              th Action

          tbody
            each record, index in records
              tr
                td(class='text-center align-middle') #{index+1}
                td(class='text-center align-middle')
                  img(
                    src=record.avatar
                    alt=record.fullName
                    width="100px"
                    height="auto"
                  )
                td(class='text-center align-middle') #{record.fullName}
                td(class='text-center align-middle') #{record.role.title}
                td(class='text-center align-middle') #{record.email}
                td(class='text-center align-middle')
                  if (record.status === "active")
                    a(
                      href="javascript:;"
                      class="badge badge-success"
                      data-status="active"
                    ) Active
                  else
                    a(
                      href="javascript:;"
                      class="badge badge-danger"
                      data-status="inactive"
                    ) Inactive
                td(class='text-center align-middle')
                  if(role.permissions.includes("accounts_view"))
                    a(
                      class="btn btn-secondary btn-sm"
                      href=`/${adminPrefix}/accounts/detail/${record.id}`
                    ) Detail
                  if(role.permissions.includes("accounts_edit"))
                    a(
                      class="btn btn-warning btn-sm ml-1"
                      href=`/${adminPrefix}/accounts/edit/${record.id}`
                    ) Edit
                  if(role.permissions.includes("accounts_delete"))
                    button(
                      class="btn btn-danger btn-sm ml-1"
                    ) Delete
  else 
    div(class='mt-20')
      h4 Account does not have permission to view other accounts information
      i Contact 
      strong admin
      i  to add permissions to your account