extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(role.permissions.includes("products-category_view"))
    +alert-success(5000)
    +alert-error(5000)

    if (data.title)
      h1(class="mb-4") Category: #{data.title}
    hr

    if (data.thumbnail)
      div(class="mb-4")
        img(
          src=data.thumbnail
          style="width: 100px"
        )

    if (data.status)
      div(class="mb-4")
        span Status:
        if (data.status === "active")
          span(class="badge badge-success") Active
        else
          span(class="badge badge-danger") Inactive

    if (data.position)
      div(class="mb-4") Position: <b>#{data.position}</b>

    if (data.description)
      div(class="mb-4") !{data.description}
  else 
    div(class='mt-20')
      h4 Account does not have permission to view product categories
      i Contact 
      strong admin
      i  to add permissions to your account