extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug

block main
  h1(class="mb-4") Products Category 

  +alert-error(5000)
  +alert-success(5000)

  .card.mb-3
    .card-header List
    .card-body
      .row
        .col-8
        .col-4.text-right
          a(
            href=`/${adminPrefix}/products-category/create`
            class="btn btn-outline-success"
          ) + Add new

      table(
        class="table table-hover table-sm"
      )
        thead
          tr
            th
            th Index
            th Image
            th Title
            th Position
            th Status
            th Action 

          tbody
            +table-tree(records)

          form(
            id='form-change-status'
            method='POST'
            action=''
            data-path=`/${adminPrefix}/products-category/change-status`
          )

          form(
            id='form-delete-item'
            method='POST'
            action=''
            data-path=`/${adminPrefix}/products-category/delete`
          )