extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row 
      .col-12
        +box-head('Chat')

    .row
      .col-12
        .chat(my-id=user.id) 
          .inner-body 
            each chat in chats
              div(class=(chat.userInfo.id == user.id ? 'inner-outgoing' : 'inner-incoming'))
                if(chat.userInfo.id != user.id)
                  .inner-name #{chat.userInfo.fullName} 
                if(chat.content)
                  .inner-content 
                    | #{chat.content}
                if(chat.images)
                  .inner-images 
                    each image in chat.images
                      img(src=image)
            div(class='inner-list-typing')
          .inner-foot 
            form(
              class='inner-form'
              action=''
            )
              input(
                type='text'
                placeholder='Type chat content...'
                name='content'
              )
              div(class='custom-file-container' data-upload-id='upload-image')
              span(class='button-icon mx-2')
                i.fa-regular.fa-face-smile
                
              button 
                i.fa-solid.fa-paper-plane

  div(class='tooltip' role='tooltip')
    emoji-picker(class='light')