extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3

    include ../../partials/list-user-buttons.pug

    .row
      .col-12 
        +box-head('Friend request')

    .row(data-users-accept=user.id)
      each user in users
        .col-6 
          div(class='box-user')
            div(class='inner-avatar')
              img(
                src=(user.avatar ? user.avatar : "/images/img_avatar.png")
                alt=user.fullName
              )
            div(class='inner-info')
              div(class='inner-name') #{user.fullName}
              div(class='inner-buttons')
                button(
                  class='btn btn-sm btn-primary mr-1'
                  btn-accept-friend=user.id
                ) Accept
                button(
                  class='btn btn-sm btn-secondary mr-1'
                  btn-refuse-friend=user.id
                ) Refuse
                button(
                  class='btn btn-sm btn-secondary mr-1'
                  btn-deleted-friend
                  disabled
                ) Refused
                button(
                  class='btn btn-sm btn-secondary mr-1'
                  btn-accepted-friend
                  disabled
                ) Accepted

  block script 
    script(type='module' src="/js/users.js") 